{% extends "base.html.twig" %}

{% block title %}
	{{"login"|trans}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-4 offset-4">
				<div class="m-auto text-center mt-5">
					<h1>{{"login"|trans}}</h1>
					{% for message in app.flashes('notice') %}
						<div class="alert alert-success">{{ message }}</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger">{{ message }}</div>
					{% endfor %}
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
					{% endif %}
					<form class="mt-3 mb-3" action="{{ path('login') }}" method="post">
						<div class="form-group mt-3">
							<input class="form-control" placeholder="{{"username"|trans}}" id="username" name="_username" type="text" value="{{ lastUsername }}"/>
						</div>
						<div class="form-group mt-3">
							<input class="form-control" placeholder="{{"password"|trans}}" id="password" name="_password" type="password"/>
						</div>
						<button class="btn btn-success mt-3" type="submit">{{"login"|trans}}</button>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</form>
					<div>
						<a href="{{ path('subscription') }}">{{"login.notSubscribedYet?"|trans}}</a>
					</div>
					<div>
						<a href="{{ path('forgotten_password') }}">{{"password.forgotten?"|trans}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
