{% extends "base.html.twig" %}

{% block title %}
	{{"login"|trans}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="m-auto text-center">
					<h1>{{"login"|trans}}</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
                    {% endif %}
					<form action="{{ path('login') }}" method="post">
						<div class="form-group">
							<input class="form-control" placeholder="{{"username"|trans}}" id="username" name="_username" type="text" value="{{ lastUsername }}"/>
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="{{"password"|trans}}" id="password" name="_password" type="password"/>
						</div>
						{# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

						<button class="btn btn-success" type="submit">{{"login"|trans}}</button>
					</form>
					{# <div>
											<a href="{{ path('subscription') }}">{{"login.notSubcribedYet?"|trans}}</a>
										</div> #}
					{# <div>
											<a href="{{ path('forgotten_password') }}">{{"password.forgotten?"|trans}}</a>
										</div> #}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
