<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg d-none d-lg-flex">
	<a class="navbar-brand" href="{{ path('home') }}">
		<img class="logoNavbar" src="{{ asset('images/home/logo.png') }}" alt="Logo Snowtricks">
	</a>
	<ul class="navbar-nav ms-auto">
		<li class="nav-item me-3">
			<a href="{{ path('home')}}">Accueil</a>
		</li>
		{% if app.user %}
			<li class="nav-item me-3">
				<a href="{{ path('profile',{id:app.user.id})}}">Profil</a>
			</li>
		{% endif %}
		<li class="nav-item">
			{% if app.user %}
				<a id="logout" href="{{ path('logout')}}">Se déconnecter</a>
			{% else %}
				<a id="login" href="{{ path('login')}}">Se connecter</a>
			{% endif %}
		</li>
	</ul>
</nav>
