{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}
	<h1>Trick</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ trick.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ trick.title }}</td>
			</tr>
			<tr>
				<th>TrickGroup</th>
				<td>{{ trick.trickGroup }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ trick.content }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>MainImg</th>
				<td><img src="{{ asset('images/tricks/uploads/' ~ trick.mainImgName) }}"></td>
			</tr>
			<tr>
				<th>Videos</th>
				<td>{{ trick.videos ? trick.videos|join(', ') : '' }}</td>
			</tr>
		</tbody>
	</table>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{% if app.user %}
		{{ include('comment/_form.html.twig') }}
	{% endif %}
	<div class="row commentsContainer">
		{% if comments %}
			{% for comment in comments|slice(0, 5) %}
				<div class="col-md-12 mt-3 commentContainer">
					<img class="commentAuthorPhoto" src="{{ asset('images/users/uploads/' ~ comment.author.photo) }}" alt={{ "Photo de l'auteur " ~ comment.id }}>
					<div>{{ comment.title }}</div>
					<div>{{ comment.content }}</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	{% if comments|length > 5 %}
		<button id="getMoreComments" class="btn btn-primary">Afficher plus de commentaires</button>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('trickShow') }}
{% endblock %}
